

.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 100px;
  text-align: center;
  border-bottom: solid black 1px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
  background-color: white;
}
.logo span {
  padding: 10px;
  color: MediumAquamarine;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 50px;


}
a {
  color: black;
}
